* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  color: white;
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0,0,0,.35),
      rgba(0,0,0,.55)
    ),
    url("https://images.unsplash.com/photo-1504608524841-42fe6f032b4b");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.iNeedToHideThis {
  display: none;
}



header {
  padding: 15px 15px;
}

header h1 {
  padding: 30px, 50px;
  font-weight: 300;
 
}

form {
  display: flex;
  gap: 12px;
}

#userInput {
  width: 300px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

input[type="submit"] {
  padding: 14px 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}



#background {
  padding: 0 50px 50px;
}



#weather {
  display: flex;
  flex-direction: column;
}
#condition{
  display: flex;
}

#weather img {
  width: 50px;
  height: 50px;
}

#wholeTemp {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

#temperature {
  font-size: 10rem;
  font-weight: 200;
  line-height: 0.9;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-top: 25px;
  margin-left: 20px;
}

#c,
#f {
  width: 55px;
  height: 55px;

  border: 1px solid rgba(255,255,255,.15);
  background: rgba(255,255,255,.08);

  color: white;

  border-radius: 10px;
  font-size: 1.2rem;

  cursor: pointer;
  transition: .2s;
}

#c:hover,
#f:hover {
  background: rgba(255,255,255,.2);
}



main {
  display: flex;
}


#forecast,
#other {
  background: rgba(0,0,0,.45);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,.12);

  border-radius: 18px;
 
  padding: 25px;
}



#forecast h2,
#other h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

#days {
  display: flex;
  gap: 15px;
}

#day1,
#day2 {
  flex: 1;

  background: rgba(255,255,255,.05);

  border: 1px solid rgba(255,255,255,.08);

  border-radius: 12px;

  padding: 15px;
}

#day1 img,
#day2 img {
  width: 60px;
}



#other {
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}

#other div {
  display: flex;
  justify-content: space-between;

  padding-bottom: 10px;

  border-bottom: 1px solid rgba(255,255,255,.08);
}


#weatherH1 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 25px;
}



@media (max-width: 900px) {

  header,
  #background {
    padding-left: 20px;
    padding-right: 20px;
  }

  main {
    grid-template-columns: 1fr;
  }

  #temperature {
    font-size: 7rem;
  }

  form {
    flex-direction: column;
  }

  #userInput {
    width: 100%;
  }
}